//color variables
$buttons-primary: #f8d6fa;
$buttons-hover: #6ddedc;
$buttons-delete: #00abc1;
$buttons-delete-darker: #3b756a;
$backgrounds: #dbdbdb;
$card-bg: #110307;
$text-main: #eeeeee;
$titles: #cf6dde;
$titles-hover: #92461a;
$buttons-primary-text: #141414;
$borders: #b447cc;

//google fonts
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap");

//font variables
$main-font: "Anek Tamil", sans-serif;
$titles-font: "Lobster", cursive;

.card-body,
.container .card-custom {
  background-color: $card-bg !important;
}
:root{
  background-color: $backgrounds !important;
}

.navbar-brand,
h1,
.link,
.titles, .titles-expand {
  color: $titles !important;
  font-family: $titles-font !important;
  .custom-icon {
    color: $borders !important;
  }
}

.titles-expand:hover{
  color: $titles-hover !important;
}
.custom-form-label{
  color: #000000 !important;
  background-color: #e6e6e6 !important;
  font-weight: 700 !important;
}

.navbar-brand,
.nav-link,
.custom-card-title {
  font-size: 1.7rem !important;
}

.navbar-brand {
  font-size: 4rem !important;
}

p,
.card-text {
  color: $text-main;
}

.app-container {
  background-color: $backgrounds;
  font-family: $main-font !important;
}

.custom-btn {
  background-color: $buttons-primary !important;
  border-color: $buttons-primary !important;
  color: $buttons-primary-text !important;
}
.custom-btn:hover {
  background-color: $buttons-hover !important;
}


.custom-btn-delete {
  background-color: $buttons-delete !important;
  border-color: $buttons-delete !important;
}
.custom-btn-delete:hover {
  background-color: $buttons-delete-darker !important;

}
.card {
  border: 2px solid $borders !important;
}